<h2>About Us</h2>
<p>We are the B Team, a collection of backup players that get together for the love of the game. We win more than we lose but the team is here just for fun!
  <br>

We try to play the game with speed, and flair because we think that it makes the game more fun for not only us, but the people that come to watch us.
<br>

Come out and watch us play or reach out to our team manager if you are interested in joining!</p>

<hr>

<h3>Contact Us</h3>
<ul>
  <li>Phone Number: 123-456-7890</li>
  <li>email: legends@gmail.com</li>
</ul>
