<h1>About Us</h1>
<p>We are the Legends indoor soccer team and have a long and storied history in our indoor soccer league. We have won the championship the past thre years and are excited to attempt to win more.

More than just winning we play with speed and flair, after all we play to entertain and win. We have assembled a modest group of talent as well as some good guys.

Come out and watch us play or reach out to our team manager if you are interested in joining!</p>

<hr>

<h3>Contact Us</h3>
<ul>
  <li>Phone Number: 123-456-7890</li>
  <li>email: legends@gmail.com</li>
</ul>
