<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add A New Player to the Team</h3>
  </div>
    <div class="panel-body">
      <div>
        <label>Player Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Player Nationality:</label>
        <br>
        <input #newNationality>
      </div>

      <div>
        <label>Player Age:</label>
        <br>
        <input type="number" #newAge/>
      </div>

      <div>
        <label>Position:</label>
        <br>
        <select #newPosition>
          <option value="Forward">Forward</option>
          <option value="Midfielder">Midfielder</option>
          <option value="Defender">Defender</option>
          <option value="Goalkeeper">Goalkeeper</option>
        </select>
      </div>
    <button class="btn btn-success" (click)="submitForm(newName.value, newNationality.value, newAge.value, newPosition.value); newName.value=''; newNationality.value=''; newAge.value=''; newPosition.value=''">Add Player</button>
  </div>
</div>

<div>
  <app-roster></app-roster>
</div>
